auth:
  api:
    url: http://autz-app:8012

AUTZ:
  ribbon:
    listOfServers: autz-app:8012

kafka:
  enabled: true

spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: http://broker:9092